.venv/
.gradio/
.idea/
data/dataset.csv
.DS_Store
__pycache__/data_processing.cpython-312.pyc
anaconda_projects/db/project_filebrowser.db
data/.DS_Store
data/cap-color.pick
data/cap-shape.pick
data/cap-surface.pick
data/class.pick
data/does-bruise-or-bleed.pick
data/gill-attachment.pick
data/gill-color.pick
data/gill-spacing.pick
data/habitat.pick
data/has-ring.pick
data/ring-type.pick
data/season.pick
data/spore-print-color.pick
data/stem-color.pick
data/stem-root.pick
data/stem-surface.pick
data/veil-color.pick
data/veil-type.pick
my_preprocessor.pkl
notes/.DS_Store
notes/catboost_info/catboost_training.json
notes/catboost_info/learn/events.out.tfevents
notes/catboost_info/learn_error.tsv
notes/catboost_info/time_left.tsv
notes/classifier.cbm
notes/my_preprocessor.joblib
notes/my_preprocessor.pkl
